<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>iTunes API Example (with Vue)!</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Main Module -->
    <script type="module" src="src/itunes/main.js"></script>

    <style>
        /* .myheader grabbed from Bootstrap's jumbotron example - https://getbootstrap.com/docs/4.0/examples/jumbotron/ */
        .myheader {
            background-color: #e9ecef;
            padding: 4rem 2rem;
            margin-bottom: 2rem;
        }

        input.form-control {
            display: inline-block;
            width: 20rem;
            margin-right: 1rem;
        }

        .search-row {
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="myheader">
            <h1 class="display-5">{{ title }}</h1>
            <p class="lead text-muted">In this example we are hitting our <b>{{ service }}</b> endpoint located at: <a :href="api">{{ endpoint }}</a>.</p>
            <p class="text-muted">Because we are using the <code>Fetch API</code>, we can download ordinary <code>JSON</code>, rather than <code>JSON-P</code>.</p>
        </div>

        <div class="container">
            <div class="row search-row">
                <div class="col-md-12">
                    <b-input class="w-50" placeholder="Keywords..." v-model="term"></b-input>
                    <b-form-select v-model="limit" class="w-25">
                        <option :value="50">Default (50)</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                    </b-form-select>
                    <button class="btn btn-outline-success" type="submit" v-on:click="search">Search</button>
                    <p class="text-center">{{ status }}</p>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Table goes here -->
                    <table class="table table-striped table-lg">
                        <tr class="text-primary">
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Track Name</th>
                            <th>Preview</th>
                        </tr>
                        <tr v-for="data in results" class="text-muted">
                            <th>{{ data.artistName }}</th>
                            <th>{{ data.collectionName }}</th>
                            <th>{{ data.trackName || data.collectionName + " | Audiobook" }}</th>
                            <th>
                                <audio :src="data.previewUrl" controls style="border:1px solid black;border-radius:50px"></audio>
                            </th>
                        </tr>
                    </table>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end #app -->

    <script>
    </script>
</body></html>
