* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  min-height: 100%;
  background: #ffffff url('files/img/beanstalk-dark.png') round center fixed;
}

footer {
  height: 8%;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

footer p {
  padding: 0px;
  margin: 10px 0px;
}
